body {
	background: #333;
	color: #ccc;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.App {
	font-size: 1.6rem;
	padding: 20px;
	h1 {
		font-size: 2.5rem;
		color: #777;
		font-weight: bold;
		margin: 0 0 20px 0;
	}
	h1:not(:first-of-type) {
		margin-top: 20px;
	}
	ul {
		list-style-type: disc;
		margin: 0 0 0 30px;
	}
	.page {
		h2 {
			font-size: 2rem;
			color: #888;
			font-weight: bold;
			margin: 10px 0;
			background-color: #eee;
			padding: 5px;
		}
		.page_about {
			h2 {
				background-color: rgb(209, 209, 103);
			}
		}
	}

	nav {
		margin-bottom: 20px;
		ul {
			display: flex;
			margin: 0;
			background: #111;
			padding: 10px;
			border-radius: 5px;
			li {
				margin: 0 10px 0 0;
				list-style: none;
				a {
					color: #eee;
					text-decoration: none;
				}
				a.active {
					color: yellow;
				}
			}
		}
	}
}
